@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    display: flex;
    flex-direction: column;
    font-family: "Lato";
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    background-color: hsla(4, 48%, 66%, 0.49);
    height: auto;
    h1 {
        color: #fff;
        font-size: 3em;
        letter-spacing: 1px;
        font-weight: 300;
        padding: 10px 0;
        margin: 0;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: space-between;
        color: #fff;
        > * {
            padding: 0 15px;
            list-style: none;
            font-size: 1rem;
            a {
                color: #fff;
            }
        }
    }
}

.section-1 {
    height: 100vh;
    background-image: url('../imgs/milktea.jpg');
    background-size: cover;
    background-color: #d3a8a5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 5px solid rgb(98, 114, 143);
    padding: 10px;
}

.section-2 {
    min-height: 50vh;
    background-color: #fff;
    h1 {
        text-align: center;
    }
}

.section-3 {
    min-height: 70vh;
    background-color: #ab7d79;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1em;
    border: none;
    &:hover {
        animation-name: button-hov;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
    }
}

footer {
    height: 5vh;
    border: 1px solid green;
    text-align: center;
}

@keyframes button-hov {
    100% {
        background-color: #628557;
        color: #ffffff;
        transform: scale(1.01)
    }
}